svg {  margin: 2px;  }

.arc {  stroke: #fff;  }

/*.journal_done {*/
    /*color: #02749c;*/
/*}*/

.description_text {
    max-width: 900px;
    word-wrap: break-word;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.description_span {
    display: inline-block;
    text-align: left;
}

.quote {  margin-left: 10px;  }

.month_nav {
    margin-left: 5px;
    margin-bottom: -18px;
    margin-top: -14px;
}

.lead {
    cursor: default;
}


#month_label:hover span{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;

    cursor: default;

    color: #444444;
    background-color: #ffffff;
}


/*#month_name {*/
    /*color: #02749c;*/
/*}*/


/*TABLE BUILDING PREFERENCES: */

.smarts_col {  color: #d0743c; cursor: default; }

.arts_col {  color: #ff8c00; cursor: default; }

.health_col {  color: #8a89a6; cursor: default;  }

.wealth_col {  color: #7b6888; cursor: default; }

.health_row:hover {  color: #8a89a6;  }

.wealth_row:hover {  color: #7b6888;  }

.arts_row:hover {  color: #ff8c00;  }

.smarts_row:hover {  color: #d0743c;  }

.row_data {cursor: default;}

.badge {
    background-color: #e3e3e3;
    padding: 3px 4px;
    opacity: .6;
    margin-bottom: 1px;
}


.chart {
    margin-left: 5px;
    margin-right: 5px;
}

/*do not need desc text right now.*/
.description_text {
    display: none;
}

#close {

    float:right;
    display:inline-block;
    padding:2px 5px;
    /*background:#ccc;*/
    margin-top: -5px;
    margin-right: -5px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.pie {
    cursor: pointer;
    opacity: .8;
    border: none;
}

.pie:hover {  opacity: 1;  }


/*MODAL PREFERENCES: */

.modal_active_health {fill: #98abc5;}
.modal_active_wealth {fill: #7b6888;}
.modal_active_arts {fill: #ff8c00;}
.modal_active_smarts {fill: #d0743c;}

.modal_content_table {  float: right;  }

.modal_path {
    opacity: .6;
    cursor: pointer;
}

.outer_modal_path {
    opacity: .6;
    cursor: pointer;
}

.modal_path:hover {  opacity: 1;  }

.day_nav {
    margin-top: -20px;
    float: right;
}

.modal_notes {  cursor: default;  }

#click_to_edit {text-align: center;}


/*.event_text {*/
    /*margin-left: 50px;*/
/*}*/

#event_close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    /*background:#ccc;*/
    margin-top: -10px;
    margin-right: -5px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.delete_event_btn {  display: none;  }

.modal_alert {
    margin-left: 15px;
    margin-right: 15px;
    display: none;
}

.modal_entry {
    max-width: 310px;
    margin-top: 20px;
    display: none;
}

.modal_chart {
    text-align: center;
}

.modal_chart.svg {
    display: inline-block;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    /*height: 28px;*/
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.category_label {
    opacity: .7;
}


.polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

/*YEAR MODAL PREFERENCES: */

#calendar_btn {
    display: none;
    margin-left: 5px;

}

#journal_toggle {
    margin-left: 5px;
}

.year_arc {  stroke: #fff;  }


.year_pie {
    cursor: pointer;
    opacity: .8;
    border: none;
}

.year_pie:hover {  opacity: 1;  }


.pagination>li>a:focus {
    color: #444444;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}