svg {
    /*padding: 10px 0 0 10px;*/
    margin: 2px;
}

.arc {
  stroke: #fff;
}

.description_text {
    max-width: 900px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}

.description_span {
    display: inline-block;
    text-align: left;
}

.quote {
    margin-left: 10px;
    /*border-left: 0 none;*/
    /*border-right: 5px solid #dddddd;*/
    /*padding-left: 0;*/
    /*padding-right: 15px;*/
    /*text-align: right;*/
}