svg {
    margin: 2px;
}

.arc {
  stroke: #fff;
}

.description_text {
    max-width: 900px;
    word-wrap: break-word;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.description_span {
    display: inline-block;
    text-align: left;
}

.quote {
    margin-left: 10px;
}

.month_nav {
    margin-left: 5px;
    margin-bottom: -18px;
    margin-top: -14px;
}

#month_label:hover span{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;

    cursor: default;

    color: #444444;
    background-color: #ffffff;
}


/*#month_name {*/
    /*color: #02749c;*/
/*}*/



#smarts_col {
    color: #d0743c;
}

#arts_col {
    color: #ff8c00;
}

#health_col {
    color: #98abc5;
}

#wealth_col {
    color: #8a89a6;
}

.chart {
    margin-left: 5px;
    margin-right: 5px;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    /*background:#ccc;*/
    margin-top: -5px;
    margin-right: -5px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.pie {
    cursor: pointer;
    opacity: .8;
    border: none;
}

.pie:hover {
    opacity: 1;

}

.modal_content_table {
    float: right;

}

.modal_path {
 opacity: .6;
    cursor: pointer;

}


.outer_modal_path {
 opacity: .6;
    cursor: pointer;

}

.modal_path:hover {
 opacity: 1;

}

.day_nav {
    margin-top: -20px;
    float: right;
}

.modal_notes {
    cursor: default;
}

.modal_alert {
    margin-left: 15px;
    margin-right: 15px;
    display: none;
}

.modal_entry {
    /*float: right;*/
    max-width: 180px;
    margin-top: 20px;
    display: none;
}