<!DOCTYPE html>
{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>It's Not That Hard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>
<body>
This is our main page!
<hr>
{{ boldmessage }}



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>