<!DOCTYPE html>
{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>It's Not That Hard</title>

{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">#}

    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


</head>
<body>
It's not that hard:

<div class="well well-sm"><svg class="chart" width="600" height="400"></svg></div>

<hr>

<table class="table table-striped table-hover test_table">
      <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Yoga</th>
      <th>Music</th>
      <th>biking</th>
      <th>coding</th>
    </tr>
  </thead>
    <tbody class="test_body">


    </tbody>

</table>




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>